<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" method="POST">
    <input type="text" name="qoute" placeholder="write a quote">
    <input type="text" name="name" placeholder="write quote's author">
    <input type="text" name="age" placeholder="write author's age">
    <input type="submit" value="Submit">
</form>

 
</body>
</html>